/* Button */
.ia-button {
    @include variant-default;

    --Button-Color: var(--variant-Color);
    --Button-Bg: var(--variant-Bg);
    --Button-Border: var(--variant-Border);
    --Button-borderWidth: var(--variant-borderWidth);
    --Button-borderStyle: var(--variant-borderStyle);

    /* Default to Medium size */
    --Icon-margin: initial;
    --Icon-fontSize: 1.5rem;
    --CircularProgress-size: 24px;
    --Button-gap: 0.5rem;
    min-height: var(--Button-minHeight, 2.5rem);
    font-size: var(--fontSize-sm);
    padding-block: 0.25rem;
    padding-inline: 1rem;

    /* Style */
    -webkit-tap-highlight-color: transparent;
    border-radius: var(--Button-radius, var(--radius-sm));
    margin: var(--Button-margin);
    cursor: pointer;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-family: var(--fontFamily-body);
    font-weight: var(--fontWeight-lg);
    line-height: 1;

    color: var(--Button-Color);
    background-color: var(--Button-Bg);
    border-color: var(--Button-Border);
    border-width: var(--Button-borderWidth);
    border-style: var(--Button-borderStyle);
}

.ia-button:hover {
    --Button-Color: var(--variant-HoverColor);
    --Button-Bg: var(--variant-HoverBg);
    --Button-Border: var(--variant-HoverBorder);
}

.ia-button:active {
    --Button-Color: var(--variant-ActiveColor);
    --Button-Bg: var(--variant-ActiveBg);
    --Button-Border: var(--variant-ActiveBorder);
}

.ia-button:disabled {
    pointer-events: none;
    cursor: default;

    --Button-Color: var(--variant-DisabledColor);
    --Button-Bg: var(--variant-DisabledBg);
    --Button-Border: var(--variant-DisabledBorder);
}

.ia_button--primary:enabled:hover,
.ia_button--primary:enabled:active,
.ia_button--secondary:enabled:hover,
.ia_button--secondary:enabled:active {
    border-width: var(--Button-borderWidth);
    border-style: var(--Button-borderStyle);
    box-shadow: unset;
}
