$palettes: (primary, neutral, danger, info, success, warning);

:root {
    /* Dark Theme */
    /* --background-color: rgb(0, 30, 60); */
    --background-color: rgb(16, 20, 24);
    --palette-primary-50: #f4faff;
    --palette-primary-100: #ddf1ff;
    --palette-primary-200: #addbff;
    --palette-primary-300: #6fb6ff;
    --palette-primary-400: #3990ff;
    --palette-primary-500: #096bde;
    --palette-primary-600: #054da7;
    --palette-primary-700: #02367d;
    --palette-primary-800: #072859;
    --palette-primary-900: #00153c;
    --palette-primary-plainColor: var(--palette-primary-300, #6fb6ff);
    --palette-primary-plainHoverBg: var(--palette-primary-800, #072859);
    --palette-primary-plainActiveBg: var(--palette-primary-700, #02367d);
    --palette-primary-plainDisabledColor: var(--palette-primary-800, #072859);
    --palette-primary-outlinedColor: var(--palette-primary-200, #addbff);
    --palette-primary-outlinedBorder: var(--palette-primary-700, #02367d);
    --palette-primary-outlinedHoverBg: var(--palette-primary-800, #072859);
    --palette-primary-outlinedHoverBorder: var(--palette-primary-600, #054da7);
    --palette-primary-outlinedActiveBg: var(--palette-primary-900, #00153c);
    --palette-primary-outlinedDisabledColor: var(
        --palette-primary-800,
        #072859
    );
    --palette-primary-outlinedDisabledBorder: var(
        --palette-primary-800,
        #072859
    );
    --palette-primary-softColor: var(--palette-primary-200, #addbff);
    --palette-primary-softBg: var(--palette-primary-900, #00153c);
    --palette-primary-softHoverBg: var(--palette-primary-800, #072859);
    --palette-primary-softActiveBg: var(--palette-primary-700, #02367d);
    --palette-primary-softDisabledColor: var(--palette-primary-800, #072859);
    --palette-primary-softDisabledBg: var(--palette-primary-900, #00153c);
    --palette-primary-solidColor: #fff;
    --palette-primary-solidBg: var(--palette-primary-600, #054da7);
    --palette-primary-solidHoverBg: var(--palette-primary-700, #02367d);
    --palette-primary-solidActiveBg: var(--palette-primary-800, #072859);
    --palette-primary-solidDisabledColor: var(--palette-primary-700, #02367d);
    --palette-primary-solidDisabledBg: var(--palette-primary-900, #00153c);
    --palette-primary-mainChannel: 57 144 255;
    --palette-primary-lightChannel: 173 219 255;
    --palette-primary-darkChannel: 7 40 89;
    --palette-neutral-50: #f7f7f8;
    --palette-neutral-100: #ebebef;
    --palette-neutral-200: #d8d8df;
    --palette-neutral-300: #b9b9c6;
    --palette-neutral-400: #8f8fa3;
    --palette-neutral-500: #73738c;
    --palette-neutral-600: #5a5a72;
    --palette-neutral-700: #434356;
    --palette-neutral-800: #25252d;
    --palette-neutral-900: #131318;
    --palette-neutral-plainColor: var(--palette-neutral-200, #d8d8df);
    --palette-neutral-plainHoverColor: var(--palette-neutral-50, #f7f7f8);
    --palette-neutral-plainHoverBg: var(--palette-neutral-800, #25252d);
    --palette-neutral-plainActiveBg: var(--palette-neutral-700, #434356);
    --palette-neutral-plainDisabledColor: var(--palette-neutral-700, #434356);
    --palette-neutral-outlinedColor: var(--palette-neutral-200, #d8d8df);
    --palette-neutral-outlinedBorder: var(--palette-neutral-800, #25252d);
    --palette-neutral-outlinedHoverColor: var(--palette-neutral-50, #f7f7f8);
    --palette-neutral-outlinedHoverBg: var(--palette-neutral-800, #25252d);
    --palette-neutral-outlinedHoverBorder: var(--palette-neutral-700, #434356);
    --palette-neutral-outlinedActiveBg: var(--palette-neutral-800, #25252d);
    --palette-neutral-outlinedDisabledColor: var(
        --palette-neutral-800,
        #25252d
    );
    --palette-neutral-outlinedDisabledBorder: var(
        --palette-neutral-800,
        #25252d
    );
    --palette-neutral-softColor: var(--palette-neutral-200, #d8d8df);
    --palette-neutral-softBg: var(--palette-neutral-800, #25252d);
    --palette-neutral-softHoverColor: var(--palette-neutral-50, #f7f7f8);
    --palette-neutral-softHoverBg: var(--palette-neutral-700, #434356);
    --palette-neutral-softActiveBg: var(--palette-neutral-600, #5a5a72);
    --palette-neutral-softDisabledColor: var(--palette-neutral-700, #434356);
    --palette-neutral-softDisabledBg: var(--palette-neutral-900, #131318);
    --palette-neutral-solidColor: var(--palette-common-white, #fff);
    --palette-neutral-solidBg: var(--palette-neutral-600, #5a5a72);
    --palette-neutral-solidHoverBg: var(--palette-neutral-700, #434356);
    --palette-neutral-solidActiveBg: var(--palette-neutral-800, #25252d);
    --palette-neutral-solidDisabledColor: var(--palette-neutral-700, #434356);
    --palette-neutral-solidDisabledBg: var(--palette-neutral-900, #131318);
    --palette-neutral-mainChannel: 143 143 163;
    --palette-neutral-lightChannel: 216 216 223;
    --palette-neutral-darkChannel: 37 37 45;
    --palette-danger-50: #fff8f6;
    --palette-danger-100: #ffe9e8;
    --palette-danger-200: #ffc7c5;
    --palette-danger-300: #ff9192;
    --palette-danger-400: #fa5255;
    --palette-danger-500: #d3232f;
    --palette-danger-600: #a10e25;
    --palette-danger-700: #77061b;
    --palette-danger-800: #580013;
    --palette-danger-900: #39000d;
    --palette-danger-plainColor: var(--palette-danger-300, #ff9192);
    --palette-danger-plainHoverBg: var(--palette-danger-800, #580013);
    --palette-danger-plainActiveBg: var(--palette-danger-700, #77061b);
    --palette-danger-plainDisabledColor: var(--palette-danger-800, #580013);
    --palette-danger-outlinedColor: var(--palette-danger-200, #ffc7c5);
    --palette-danger-outlinedBorder: var(--palette-danger-700, #77061b);
    --palette-danger-outlinedHoverBg: var(--palette-danger-800, #580013);
    --palette-danger-outlinedHoverBorder: var(--palette-danger-600, #a10e25);
    --palette-danger-outlinedActiveBg: var(--palette-danger-900, #39000d);
    --palette-danger-outlinedDisabledColor: var(--palette-danger-800, #580013);
    --palette-danger-outlinedDisabledBorder: var(--palette-danger-800, #580013);
    --palette-danger-softColor: var(--palette-danger-200, #ffc7c5);
    --palette-danger-softBg: var(--palette-danger-900, #39000d);
    --palette-danger-softHoverBg: var(--palette-danger-800, #580013);
    --palette-danger-softActiveBg: var(--palette-danger-700, #77061b);
    --palette-danger-softDisabledColor: var(--palette-danger-800, #580013);
    --palette-danger-softDisabledBg: var(--palette-danger-900, #39000d);
    --palette-danger-solidColor: #fff;
    --palette-danger-solidBg: var(--palette-danger-600, #a10e25);
    --palette-danger-solidHoverBg: var(--palette-danger-700, #77061b);
    --palette-danger-solidActiveBg: var(--palette-danger-800, #580013);
    --palette-danger-solidDisabledColor: var(--palette-danger-700, #77061b);
    --palette-danger-solidDisabledBg: var(--palette-danger-900, #39000d);
    --palette-danger-mainChannel: 250 82 85;
    --palette-danger-lightChannel: 255 199 197;
    --palette-danger-darkChannel: 88 0 19;
    --palette-info-50: #fdf7ff;
    --palette-info-100: #f4eaff;
    --palette-info-200: #e1cbff;
    --palette-info-300: #c69eff;
    --palette-info-400: #a374f9;
    --palette-info-500: #814dde;
    --palette-info-600: #5f35ae;
    --palette-info-700: #452382;
    --palette-info-800: #301761;
    --palette-info-900: #1d0a42;
    --palette-info-plainColor: var(--palette-info-300, #c69eff);
    --palette-info-plainHoverBg: var(--palette-info-800, #301761);
    --palette-info-plainActiveBg: var(--palette-info-700, #452382);
    --palette-info-plainDisabledColor: var(--palette-info-800, #301761);
    --palette-info-outlinedColor: var(--palette-info-200, #e1cbff);
    --palette-info-outlinedBorder: var(--palette-info-700, #452382);
    --palette-info-outlinedHoverBg: var(--palette-info-800, #301761);
    --palette-info-outlinedHoverBorder: var(--palette-info-600, #5f35ae);
    --palette-info-outlinedActiveBg: var(--palette-info-900, #1d0a42);
    --palette-info-outlinedDisabledColor: var(--palette-info-800, #301761);
    --palette-info-outlinedDisabledBorder: var(--palette-info-800, #301761);
    --palette-info-softColor: var(--palette-info-200, #e1cbff);
    --palette-info-softBg: var(--palette-info-900, #1d0a42);
    --palette-info-softHoverBg: var(--palette-info-800, #301761);
    --palette-info-softActiveBg: var(--palette-info-700, #452382);
    --palette-info-softDisabledColor: var(--palette-info-800, #301761);
    --palette-info-softDisabledBg: var(--palette-info-900, #1d0a42);
    --palette-info-solidColor: #fff;
    --palette-info-solidBg: var(--palette-info-600, #5f35ae);
    --palette-info-solidHoverBg: var(--palette-info-700, #452382);
    --palette-info-solidActiveBg: var(--palette-info-800, #301761);
    --palette-info-solidDisabledColor: var(--palette-info-700, #452382);
    --palette-info-solidDisabledBg: var(--palette-info-900, #1d0a42);
    --palette-info-mainChannel: 163 116 249;
    --palette-info-lightChannel: 225 203 255;
    --palette-info-darkChannel: 48 23 97;
    --palette-success-50: #f3fef5;
    --palette-success-100: #d7f5dd;
    --palette-success-200: #77ec95;
    --palette-success-300: #4cc76e;
    --palette-success-400: #2ca24d;
    --palette-success-500: #1a7d36;
    --palette-success-600: #0f5d26;
    --palette-success-700: #034318;
    --palette-success-800: #002f0f;
    --palette-success-900: #001d09;
    --palette-success-plainColor: var(--palette-success-300, #4cc76e);
    --palette-success-plainHoverBg: var(--palette-success-800, #002f0f);
    --palette-success-plainActiveBg: var(--palette-success-700, #034318);
    --palette-success-plainDisabledColor: var(--palette-success-800, #002f0f);
    --palette-success-outlinedColor: var(--palette-success-200, #77ec95);
    --palette-success-outlinedBorder: var(--palette-success-700, #034318);
    --palette-success-outlinedHoverBg: var(--palette-success-800, #002f0f);
    --palette-success-outlinedHoverBorder: var(--palette-success-600, #0f5d26);
    --palette-success-outlinedActiveBg: var(--palette-success-900, #001d09);
    --palette-success-outlinedDisabledColor: var(
        --palette-success-800,
        #002f0f
    );
    --palette-success-outlinedDisabledBorder: var(
        --palette-success-800,
        #002f0f
    );
    --palette-success-softColor: var(--palette-success-200, #77ec95);
    --palette-success-softBg: var(--palette-success-900, #001d09);
    --palette-success-softHoverBg: var(--palette-success-800, #002f0f);
    --palette-success-softActiveBg: var(--palette-success-700, #034318);
    --palette-success-softDisabledColor: var(--palette-success-800, #002f0f);
    --palette-success-softDisabledBg: var(--palette-success-900, #001d09);
    --palette-success-solidColor: #fff;
    --palette-success-solidBg: var(--palette-success-600, #0f5d26);
    --palette-success-solidHoverBg: var(--palette-success-700, #034318);
    --palette-success-solidActiveBg: var(--palette-success-800, #002f0f);
    --palette-success-solidDisabledColor: var(--palette-success-700, #034318);
    --palette-success-solidDisabledBg: var(--palette-success-900, #001d09);
    --palette-success-mainChannel: 44 162 77;
    --palette-success-lightChannel: 119 236 149;
    --palette-success-darkChannel: 0 47 15;
    --palette-warning-50: #fff8c5;
    --palette-warning-100: #fae17d;
    --palette-warning-200: #eac54f;
    --palette-warning-300: #d4a72c;
    --palette-warning-400: #bf8700;
    --palette-warning-500: #9a6700;
    --palette-warning-600: #7d4e00;
    --palette-warning-700: #633c01;
    --palette-warning-800: #4d2d00;
    --palette-warning-900: #3b2300;
    --palette-warning-plainColor: var(--palette-warning-300, #d4a72c);
    --palette-warning-plainHoverBg: var(--palette-warning-800, #4d2d00);
    --palette-warning-plainActiveBg: var(--palette-warning-700, #633c01);
    --palette-warning-plainDisabledColor: var(--palette-warning-800, #4d2d00);
    --palette-warning-outlinedColor: var(--palette-warning-200, #eac54f);
    --palette-warning-outlinedBorder: var(--palette-warning-700, #633c01);
    --palette-warning-outlinedHoverBg: var(--palette-warning-800, #4d2d00);
    --palette-warning-outlinedHoverBorder: var(--palette-warning-600, #7d4e00);
    --palette-warning-outlinedActiveBg: var(--palette-warning-900, #3b2300);
    --palette-warning-outlinedDisabledColor: var(
        --palette-warning-800,
        #4d2d00
    );
    --palette-warning-outlinedDisabledBorder: var(
        --palette-warning-800,
        #4d2d00
    );
    --palette-warning-softColor: var(--palette-warning-200, #eac54f);
    --palette-warning-softBg: var(--palette-warning-900, #3b2300);
    --palette-warning-softHoverBg: var(--palette-warning-800, #4d2d00);
    --palette-warning-softActiveBg: var(--palette-warning-700, #633c01);
    --palette-warning-softDisabledColor: var(--palette-warning-800, #4d2d00);
    --palette-warning-softDisabledBg: var(--palette-warning-900, #3b2300);
    --palette-warning-solidColor: var(--palette-common-black, #09090d);
    --palette-warning-solidBg: var(--palette-warning-300, #d4a72c);
    --palette-warning-solidHoverBg: var(--palette-warning-400, #bf8700);
    --palette-warning-solidActiveBg: var(--palette-warning-500, #9a6700);
    --palette-warning-solidDisabledColor: var(--palette-warning-700, #633c01);
    --palette-warning-solidDisabledBg: var(--palette-warning-900, #3b2300);
    --palette-warning-mainChannel: 191 135 0;
    --palette-warning-lightChannel: 234 197 79;
    --palette-warning-darkChannel: 77 45 0;
    --palette-common-white: #fff;
    --palette-common-black: #09090d;
    --palette-text-primary: var(--palette-neutral-100, #ebebef);
    --palette-text-secondary: var(--palette-neutral-300, #b9b9c6);
    --palette-text-tertiary: var(--palette-neutral-400, #8f8fa3);
    --palette-background-body: var(--palette-neutral-900, #131318);
    --palette-background-surface: var(--palette-common-black, #09090d);
    --palette-background-popup: var(--palette-neutral-900, #131318);
    --palette-background-level1: var(--palette-neutral-800, #25252d);
    --palette-background-level2: var(--palette-neutral-700, #434356);
    --palette-background-level3: var(--palette-neutral-600, #5a5a72);
    --palette-background-tooltip: var(--palette-neutral-600, #5a5a72);
    --palette-background-backdrop: rgba(
        var(--palette-neutral-darkChannel, 37 37 45) / 0.5
    );
    --palette-divider: rgba(
        var(--palette-neutral-mainChannel, 115 115 140) / 0.24
    );
    --palette-focusVisible: var(--palette-primary-500, #096bde);
    --shadowRing: 0 0 #000;
    --shadowChannel: 0 0 0;

    color: var(--palette-common-white);
}

:focus {
    outline: none;
}

[psc='Joy/Variant/color-inversion'][psc='Joy/Variant/soft'] * {
    --Badge-ringColor: var(--palette-softBg);
    --shadowChannel: var(--palette-darkChannel);

    --palette-focusVisible: var(--palette-300);
    --palette-background-body: rgba(
        var(--palette-mainChannel) / 0.1
    );
    --palette-background-surface: rgba(
        var(--palette-mainChannel) / 0.08
    );
    --palette-background-level1: rgba(
        var(--palette-mainChannel) / 0.2
    );
    --palette-background-level2: rgba(
        var(--palette-mainChannel) / 0.4
    );
    --palette-background-level3: rgba(
        var(--palette-mainChannel) / 0.6
    );
    --palette-text-primary: var(--palette-100);
    --palette-text-secondary: rgba(
        var(--palette-lightChannel) / 0.72
    );
    --palette-text-tertiary: rgba(
        var(--palette-lightChannel) / 0.6
    );
    --palette-divider: rgba(
        var(--palette-lightChannel) / 0.2
    );
    --variant-plainColor: rgba(
        var(--palette-lightChannel) / 1
    );
    --variant-plainHoverColor: var(--palette-50);
    --variant-plainHoverBg: rgba(
        var(--palette-mainChannel) / 0.16
    );
    --variant-plainActiveBg: rgba(
        var(--palette-mainChannel) / 0.32
    );
    --variant-plainDisabledColor: rgba(
        var(--palette-mainChannel) / 0.72
    );
    --variant-outlinedColor: rgba(
        var(--palette-lightChannel) / 1
    );
    --variant-outlinedBg: initial;
    --variant-outlinedBorder: rgba(
        var(--palette-mainChannel) / 0.4
    );
    --variant-outlinedHoverColor: var(--palette-50);
    --variant-outlinedHoverBorder: var(--palette-600);
    --variant-outlinedHoverBg: rgba(
        var(--palette-mainChannel) / 0.16
    );
    --variant-outlinedActiveBg: rgba(
        var(--palette-mainChannel) / 0.32
    );
    --variant-outlinedDisabledColor: rgba(
        var(--palette-mainChannel) / 0.72
    );
    --variant-outlinedDisabledBorder: rgba(
        var(--palette-mainChannel) / 0.2
    );
    --variant-softColor: var(--palette-100);
    --variant-softBg: rgba(
        var(--palette-mainChannel) / 0.24
    );
    --variant-softHoverColor: var(--palette-common-white);
    --variant-softHoverBg: rgba(
        var(--palette-mainChannel) / 0.32
    );
    --variant-softActiveBg: rgba(
        var(--palette-mainChannel) / 0.48
    );
    --variant-softDisabledColor: rgba(
        var(--palette-mainChannel) / 0.72
    );
    --variant-softDisabledBg: rgba(
        var(--palette-mainChannel) / 0.12
    );
    --variant-solidColor: var(--palette-common-white);
    --variant-solidBg: var(--palette-500);
    --variant-solidHoverColor: var(--palette-common-white);
    --variant-solidHoverBg: var(--palette-400);
    --variant-solidActiveBg: var(--palette-400);
    --variant-solidDisabledColor: rgba(
        var(--palette-mainChannel) / 0.72
    );
    --variant-solidDisabledBg: rgba(
        var(--palette-mainChannel) / 0.12
    );
}

[psc='Joy/Variant/color-inversion'][psc='Joy/Variant/solid'] * {
    --Badge-ringColor: var(--palette-solidBg);
    --shadowChannel: var(--palette-darkChannel);

    --palette-focusVisible: var(--palette-200);
    --palette-background-body: rgba(0 0 0 / 0.1);
    --palette-background-surface: rgba(0 0 0 / 0.06);
    --palette-background-level1: rgba(
        var(--palette-darkChannel) / 0.2
    );
    --palette-background-level2: rgba(
        var(--palette-darkChannel) / 0.36
    );
    --palette-background-level3: rgba(
        var(--palette-darkChannel) / 0.6
    );
    --palette-text-primary: var(--palette-common-white);
    --palette-text-secondary: var(--palette-100);
    --palette-text-tertiary: var(--palette-200);
    --palette-divider: rgba(
        var(--palette-lightChannel) / 0.32
    );
    --variant-plainColor: var(--palette-50);
    --variant-plainHoverColor: var(--palette-common-white);
    --variant-plainHoverBg: rgba(
        var(--palette-lightChannel) / 0.12
    );
    --variant-plainActiveBg: rgba(
        var(--palette-lightChannel) / 0.32
    );
    --variant-plainDisabledColor: rgba(
        var(--palette-lightChannel) / 0.72
    );
    --variant-outlinedColor: var(--palette-50);
    --variant-outlinedBorder: rgba(
        var(--palette-lightChannel) / 0.5
    );
    --variant-outlinedHoverColor: var(--palette-common-white);
    --variant-outlinedHoverBorder: var(--palette-300);
    --variant-outlinedHoverBg: rgba(
        var(--palette-lightChannel) / 0.12
    );
    --variant-outlinedActiveBg: rgba(
        var(--palette-lightChannel) / 0.32
    );
    --variant-outlinedDisabledColor: rgba(
        var(--palette-lightChannel) / 0.72
    );
    --variant-outlinedDisabledBorder: rgba(255 255 255 / 0.2);
    --variant-softColor: var(--palette-common-white);
    --variant-softBg: rgba(
        var(--palette-lightChannel) / 0.24
    );
    --variant-softHoverColor: var(--palette-common-white);
    --variant-softHoverBg: rgba(
        var(--palette-lightChannel) / 0.36
    );
    --variant-softActiveBg: rgba(
        var(--palette-lightChannel) / 0.16
    );
    --variant-softDisabledColor: rgba(
        var(--palette-lightChannel) / 0.72
    );
    --variant-softDisabledBg: rgba(
        var(--palette-lightChannel) / 0.1
    );
    --variant-solidColor: var(--palette-500);
    --variant-solidBg: var(--palette-common-white);
    --variant-solidHoverColor: var(--palette-700);
    --variant-solidHoverBg: var(--palette-common-white);
    --variant-solidActiveBg: var(--palette-200);
    --variant-solidDisabledColor: rgba(
        var(--palette-lightChannel) / 0.72
    );
    --variant-solidDisabledBg: rgba(
        var(--palette-lightChannel) / 0.1
    );

}
