$palettes: (primary, neutral, danger, info, success, warning);

:root {
    /* Dark Theme */
    /* --background-color: rgb(0, 30, 60); */
    --background-color: rgb(16, 20, 24);
    --palette-primary-50: #edf5fd;
    --palette-primary-100: #e3effb;
    --palette-primary-200: #c7dff7;
    --palette-primary-300: #97c3f0;
    --palette-primary-400: #4393e4;
    --palette-primary-500: #0b6bcb;
    --palette-primary-600: #185ea5;
    --palette-primary-700: #12467b;
    --palette-primary-800: #0a2744;
    --palette-primary-900: #051423;
    --palette-primary-plainColor: var(--palette-primary-300, #97c3f0);
    --palette-primary-plainHoverBg: var(--palette-primary-800, #0a2744);
    --palette-primary-plainActiveBg: var(--palette-primary-700, #12467b);
    --palette-primary-plainDisabledColor: var(--palette-neutral-500, #636b74);
    --palette-primary-outlinedColor: var(--palette-primary-200, #c7dff7);
    --palette-primary-outlinedBorder: var(--palette-primary-700, #12467b);
    --palette-primary-outlinedHoverBg: var(--palette-primary-800, #0a2744);
    --palette-primary-outlinedActiveBg: var(--palette-primary-700, #12467b);
    --palette-primary-outlinedDisabledColor: var(
        --palette-neutral-500,
        #636b74
    );
    --palette-primary-outlinedDisabledBorder: var(
        --palette-neutral-800,
        #171a1c
    );
    --palette-primary-softColor: var(--palette-primary-200, #c7dff7);
    --palette-primary-softBg: var(--palette-primary-800, #0a2744);
    --palette-primary-softHoverBg: var(--palette-primary-700, #12467b);
    --palette-primary-softActiveColor: var(--palette-primary-100, #e3effb);
    --palette-primary-softActiveBg: var(--palette-primary-600, #185ea5);
    --palette-primary-softDisabledColor: var(--palette-neutral-500, #636b74);
    --palette-primary-softDisabledBg: var(--palette-neutral-800, #171a1c);
    --palette-primary-solidColor: var(--palette-common-white, #fff);
    --palette-primary-solidBg: var(--palette-primary-500, #0b6bcb);
    --palette-primary-solidHoverBg: var(--palette-primary-600, #185ea5);
    --palette-primary-solidActiveBg: var(--palette-primary-700, #12467b);
    --palette-primary-solidDisabledColor: var(--palette-neutral-500, #636b74);
    --palette-primary-solidDisabledBg: var(--palette-neutral-800, #171a1c);
    --palette-primary-mainChannel: 67 147 228;
    --palette-primary-lightChannel: 199 223 247;
    --palette-primary-darkChannel: 18 70 123;
    --palette-neutral-50: #fbfcfe;
    --palette-neutral-100: #f0f4f8;
    --palette-neutral-200: #dde7ee;
    --palette-neutral-300: #cdd7e1;
    --palette-neutral-400: #9fa6ad;
    --palette-neutral-500: #636b74;
    --palette-neutral-600: #555e68;
    --palette-neutral-700: #32383e;
    --palette-neutral-800: #171a1c;
    --palette-neutral-900: #0b0d0e;
    --palette-neutral-plainColor: var(--palette-neutral-300, #cdd7e1);
    --palette-neutral-plainHoverBg: var(--palette-neutral-800, #171a1c);
    --palette-neutral-plainActiveBg: var(--palette-neutral-700, #32383e);
    --palette-neutral-plainDisabledColor: var(--palette-neutral-500, #636b74);
    --palette-neutral-outlinedColor: var(--palette-neutral-200, #dde7ee);
    --palette-neutral-outlinedBorder: var(--palette-neutral-700, #32383e);
    --palette-neutral-outlinedHoverBg: var(--palette-neutral-800, #171a1c);
    --palette-neutral-outlinedActiveBg: var(--palette-neutral-700, #32383e);
    --palette-neutral-outlinedDisabledColor: var(
        --palette-neutral-500,
        #636b74
    );
    --palette-neutral-outlinedDisabledBorder: var(
        --palette-neutral-800,
        #171a1c
    );
    --palette-neutral-softColor: var(--palette-neutral-200, #dde7ee);
    --palette-neutral-softBg: var(--palette-neutral-800, #171a1c);
    --palette-neutral-softHoverBg: var(--palette-neutral-700, #32383e);
    --palette-neutral-softActiveColor: var(--palette-neutral-100, #f0f4f8);
    --palette-neutral-softActiveBg: var(--palette-neutral-600, #555e68);
    --palette-neutral-softDisabledColor: var(--palette-neutral-500, #636b74);
    --palette-neutral-softDisabledBg: var(--palette-neutral-800, #171a1c);
    --palette-neutral-solidColor: var(--palette-common-white, #fff);
    --palette-neutral-solidBg: var(--palette-neutral-500, #636b74);
    --palette-neutral-solidHoverBg: var(--palette-neutral-600, #555e68);
    --palette-neutral-solidActiveBg: var(--palette-neutral-700, #32383e);
    --palette-neutral-solidDisabledColor: var(--palette-neutral-500, #636b74);
    --palette-neutral-solidDisabledBg: var(--palette-neutral-800, #171a1c);
    --palette-neutral-plainHoverColor: var(--palette-neutral-300, #cdd7e1);
    --palette-neutral-mainChannel: 159 166 173;
    --palette-neutral-lightChannel: 221 231 238;
    --palette-neutral-darkChannel: 50 56 62;
    --palette-danger-50: #fef6f6;
    --palette-danger-100: #fce4e4;
    --palette-danger-200: #f7c5c5;
    --palette-danger-300: #f09898;
    --palette-danger-400: #e47474;
    --palette-danger-500: #c41c1c;
    --palette-danger-600: #a51818;
    --palette-danger-700: #7d1212;
    --palette-danger-800: #430a0a;
    --palette-danger-900: #240505;
    --palette-danger-plainColor: var(--palette-danger-300, #f09898);
    --palette-danger-plainHoverBg: var(--palette-danger-800, #430a0a);
    --palette-danger-plainActiveBg: var(--palette-danger-700, #7d1212);
    --palette-danger-plainDisabledColor: var(--palette-neutral-500, #636b74);
    --palette-danger-outlinedColor: var(--palette-danger-200, #f7c5c5);
    --palette-danger-outlinedBorder: var(--palette-danger-700, #7d1212);
    --palette-danger-outlinedHoverBg: var(--palette-danger-800, #430a0a);
    --palette-danger-outlinedActiveBg: var(--palette-danger-700, #7d1212);
    --palette-danger-outlinedDisabledColor: var(--palette-neutral-500, #636b74);
    --palette-danger-outlinedDisabledBorder: var(
        --palette-neutral-800,
        #171a1c
    );
    --palette-danger-softColor: var(--palette-danger-200, #f7c5c5);
    --palette-danger-softBg: var(--palette-danger-800, #430a0a);
    --palette-danger-softHoverBg: var(--palette-danger-700, #7d1212);
    --palette-danger-softActiveColor: var(--palette-danger-100, #fce4e4);
    --palette-danger-softActiveBg: var(--palette-danger-600, #a51818);
    --palette-danger-softDisabledColor: var(--palette-neutral-500, #636b74);
    --palette-danger-softDisabledBg: var(--palette-neutral-800, #171a1c);
    --palette-danger-solidColor: var(--palette-common-white, #fff);
    --palette-danger-solidBg: var(--palette-danger-500, #c41c1c);
    --palette-danger-solidHoverBg: var(--palette-danger-600, #a51818);
    --palette-danger-solidActiveBg: var(--palette-danger-700, #7d1212);
    --palette-danger-solidDisabledColor: var(--palette-neutral-500, #636b74);
    --palette-danger-solidDisabledBg: var(--palette-neutral-800, #171a1c);
    --palette-danger-mainChannel: 228 116 116;
    --palette-danger-lightChannel: 247 197 197;
    --palette-danger-darkChannel: 125 18 18;
    --palette-info-50: #fdf7ff;
    --palette-info-100: #f4eaff;
    --palette-info-200: #e1cbff;
    --palette-info-300: #c69eff;
    --palette-info-400: #a374f9;
    --palette-info-500: #814dde;
    --palette-info-600: #5f35ae;
    --palette-info-700: #452382;
    --palette-info-800: #301761;
    --palette-info-900: #1d0a42;
    --palette-info-plainColor: var(--palette-info-300, #97c3f0);
    --palette-info-plainHoverBg: var(--palette-info-800, #0a2744);
    --palette-info-plainActiveBg: var(--palette-info-700, #12467b);
    --palette-info-plainDisabledColor: var(--palette-neutral-500, #636b74);
    --palette-info-outlinedColor: var(--palette-info-200, #c7dff7);
    --palette-info-outlinedBorder: var(--palette-info-700, #12467b);
    --palette-info-outlinedHoverBg: var(--palette-info-800, #0a2744);
    --palette-info-outlinedActiveBg: var(--palette-info-700, #12467b);
    --palette-info-outlinedDisabledColor: var(--palette-neutral-500, #636b74);
    --palette-info-outlinedDisabledBorder: var(--palette-neutral-800, #171a1c);
    --palette-info-softColor: var(--palette-info-200, #c7dff7);
    --palette-info-softBg: var(--palette-info-800, #0a2744);
    --palette-info-softHoverBg: var(--palette-info-700, #12467b);
    --palette-info-softActiveColor: var(--palette-info-100, #e3effb);
    --palette-info-softActiveBg: var(--palette-info-600, #185ea5);
    --palette-info-softDisabledColor: var(--palette-neutral-500, #636b74);
    --palette-info-softDisabledBg: var(--palette-neutral-800, #171a1c);
    --palette-info-solidColor: var(--palette-common-white, #fff);
    --palette-info-solidBg: var(--palette-info-500, #0b6bcb);
    --palette-info-solidHoverBg: var(--palette-info-600, #185ea5);
    --palette-info-solidActiveBg: var(--palette-info-700, #12467b);
    --palette-info-solidDisabledColor: var(--palette-neutral-500, #636b74);
    --palette-info-solidDisabledBg: var(--palette-neutral-800, #171a1c);
    --palette-info-mainChannel: 163 116 249;
    --palette-info-lightChannel: 225 203 255;
    --palette-info-darkChannel: 48 23 97;
    --palette-success-50: #f6fef6;
    --palette-success-100: #e3fbe3;
    --palette-success-200: #c7f7c7;
    --palette-success-300: #a1e8a1;
    --palette-success-400: #51bc51;
    --palette-success-500: #1f7a1f;
    --palette-success-600: #136c13;
    --palette-success-700: #0a470a;
    --palette-success-800: #042f04;
    --palette-success-900: #021d02;
    --palette-success-plainColor: var(--palette-success-300, #a1e8a1);
    --palette-success-plainHoverBg: var(--palette-success-800, #042f04);
    --palette-success-plainActiveBg: var(--palette-success-700, #0a470a);
    --palette-success-plainDisabledColor: var(--palette-neutral-500, #636b74);
    --palette-success-outlinedColor: var(--palette-success-200, #c7f7c7);
    --palette-success-outlinedBorder: var(--palette-success-700, #0a470a);
    --palette-success-outlinedHoverBg: var(--palette-success-800, #042f04);
    --palette-success-outlinedActiveBg: var(--palette-success-700, #0a470a);
    --palette-success-outlinedDisabledColor: var(
        --palette-neutral-500,
        #636b74
    );
    --palette-success-outlinedDisabledBorder: var(
        --palette-neutral-800,
        #171a1c
    );
    --palette-success-softColor: var(--palette-success-200, #c7f7c7);
    --palette-success-softBg: var(--palette-success-800, #042f04);
    --palette-success-softHoverBg: var(--palette-success-700, #0a470a);
    --palette-success-softActiveColor: var(--palette-success-100, #e3fbe3);
    --palette-success-softActiveBg: var(--palette-success-600, #136c13);
    --palette-success-softDisabledColor: var(--palette-neutral-500, #636b74);
    --palette-success-softDisabledBg: var(--palette-neutral-800, #171a1c);
    --palette-success-solidColor: var(--palette-common-white, #fff);
    --palette-success-solidBg: var(--palette-success-500, #1f7a1f);
    --palette-success-solidHoverBg: var(--palette-success-600, #136c13);
    --palette-success-solidActiveBg: var(--palette-success-700, #0a470a);
    --palette-success-solidDisabledColor: var(--palette-neutral-500, #636b74);
    --palette-success-solidDisabledBg: var(--palette-neutral-800, #171a1c);
    --palette-success-mainChannel: 81 188 81;
    --palette-success-lightChannel: 199 247 199;
    --palette-success-darkChannel: 10 71 10;
    --palette-warning-50: #fefaf6;
    --palette-warning-100: #fdf0e1;
    --palette-warning-200: #fce1c2;
    --palette-warning-300: #f3c896;
    --palette-warning-400: #ea9a3e;
    --palette-warning-500: #9a5b13;
    --palette-warning-600: #72430d;
    --palette-warning-700: #492b08;
    --palette-warning-800: #2e1b05;
    --palette-warning-900: #1d1002;
    --palette-warning-plainColor: var(--palette-warning-300, #f3c896);
    --palette-warning-plainHoverBg: var(--palette-warning-800, #2e1b05);
    --palette-warning-plainActiveBg: var(--palette-warning-700, #492b08);
    --palette-warning-plainDisabledColor: var(--palette-neutral-500, #636b74);
    --palette-warning-outlinedColor: var(--palette-warning-200, #fce1c2);
    --palette-warning-outlinedBorder: var(--palette-warning-700, #492b08);
    --palette-warning-outlinedHoverBg: var(--palette-warning-800, #2e1b05);
    --palette-warning-outlinedActiveBg: var(--palette-warning-700, #492b08);
    --palette-warning-outlinedDisabledColor: var(
        --palette-neutral-500,
        #636b74
    );
    --palette-warning-outlinedDisabledBorder: var(
        --palette-neutral-800,
        #171a1c
    );
    --palette-warning-softColor: var(--palette-warning-200, #fce1c2);
    --palette-warning-softBg: var(--palette-warning-800, #2e1b05);
    --palette-warning-softHoverBg: var(--palette-warning-700, #492b08);
    --palette-warning-softActiveColor: var(--palette-warning-100, #fdf0e1);
    --palette-warning-softActiveBg: var(--palette-warning-600, #72430d);
    --palette-warning-softDisabledColor: var(--palette-neutral-500, #636b74);
    --palette-warning-softDisabledBg: var(--palette-neutral-800, #171a1c);
    --palette-warning-solidColor: var(--palette-common-white, #fff);
    --palette-warning-solidBg: var(--palette-warning-500, #9a5b13);
    --palette-warning-solidHoverBg: var(--palette-warning-600, #72430d);
    --palette-warning-solidActiveBg: var(--palette-warning-700, #492b08);
    --palette-warning-solidDisabledColor: var(--palette-neutral-500, #636b74);
    --palette-warning-solidDisabledBg: var(--palette-neutral-800, #171a1c);
    --palette-warning-mainChannel: 234 154 62;
    --palette-warning-lightChannel: 252 225 194;
    --palette-warning-darkChannel: 73 43 8;
    --palette-common-white: #fff;
    --palette-common-black: #000;
    --palette-text-primary: var(--palette-neutral-100, #f0f4f8);
    --palette-text-secondary: var(--palette-neutral-300, #cdd7e1);
    --palette-text-tertiary: var(--palette-neutral-400, #9fa6ad);
    --palette-text-icon: var(--palette-neutral-400, #9fa6ad);
    --palette-background-body: var(--palette-common-black, #000);
    --palette-background-surface: var(--palette-neutral-900, #0b0d0e);
    --palette-background-popup: var(--palette-common-black, #000);
    --palette-background-level1: var(--palette-neutral-800, #171a1c);
    --palette-background-level2: var(--palette-neutral-700, #32383e);
    --palette-background-level3: var(--palette-neutral-600, #555e68);
    --palette-background-tooltip: var(--palette-neutral-600, #555e68);
    --palette-background-backdrop: rgba(
        var(--palette-neutral-darkChannel, 251 252 254) / 0.25
    );
    --palette-divider: rgba(
        var(--palette-neutral-mainChannel, 99 107 116) / 0.16
    );
    --palette-focusVisible: var(--palette-primary-500, #0b6bcb);
    --shadowRing: 0 0 #000;
    --shadowChannel: 0 0 0;
    --shadowOpacity: 0.6;

    --palette-background-highlight: rgba(0, 58, 117, 0.1);
    --palette-background-highlight-image: radial-gradient(
            at 51% 52%,
            rgba(31, 38, 46, 0.5) 0px,
            transparent 50%
        ),
        radial-gradient(at 80% 0%, rgba(0, 58, 117, 0.3) 0px, transparent 50%),
        radial-gradient(at 0% 95%, rgba(0, 58, 117, 0.5) 0px, transparent 50%),
        radial-gradient(at 0% 5%, rgba(0, 58, 117, 0.5) 0px, transparent 35%),
        radial-gradient(at 93% 85%, rgba(0, 58, 117, 0.3) 0px, transparent 50%);

    color: var(--palette-common-white);
}

:focus {
    outline: none;
}

[psc='Joy/Variant/color-inversion'][psc='Joy/Variant/soft']
    :not(
        [psc='Joy/Variant/skip-inverted-colors'],
        [psc='Joy/Variant/skip-inverted-colors'] *
    ) {
    --palette-focusVisible: var(--palette-300, #f3c896);
    --palette-background-body: rgba(
        var(--palette-mainChannel, 234 154 62) / 0.1
    );
    --palette-background-surface: rgba(
        var(--palette-mainChannel, 234 154 62) / 0.08
    );
    --palette-background-level1: rgba(
        var(--palette-mainChannel, 234 154 62) / 0.2
    );
    --palette-background-level2: rgba(
        var(--palette-mainChannel, 234 154 62) / 0.4
    );
    --palette-background-level3: rgba(
        var(--palette-mainChannel, 234 154 62) / 0.6
    );
    --palette-text-primary: var(--palette-100, #fdf0e1);
    --palette-text-secondary: rgba(
        var(--palette-lightChannel, 252 225 194) / 0.72
    );
    --palette-text-tertiary: rgba(
        var(--palette-lightChannel, 252 225 194) / 0.6
    );
    --palette-text-icon: rgba(var(--palette-lightChannel, 252 225 194) / 0.6);
    --palette-divider: rgba(var(--palette-lightChannel, 252 225 194) / 0.2);
    --palette-plainColor: rgba(var(--palette-lightChannel, 252 225 194) / 1);
    --palette-plainHoverColor: var(--palette-50, #fefaf6);
    --palette-plainHoverBg: rgba(var(--palette-mainChannel, 234 154 62) / 0.16);
    --palette-plainActiveBg: rgba(
        var(--palette-mainChannel, 234 154 62) / 0.32
    );
    --palette-plainDisabledColor: rgba(
        var(--palette-mainChannel, 234 154 62) / 0.72
    );
    --palette-outlinedColor: rgba(var(--palette-lightChannel, 252 225 194) / 1);
    --palette-outlinedHoverColor: var(--palette-50, #fefaf6);
    --palette-outlinedBg: initial;
    --palette-outlinedBorder: rgba(
        var(--palette-mainChannel, 234 154 62) / 0.4
    );
    --palette-outlinedHoverBorder: var(--palette-600, #72430d);
    --palette-outlinedHoverBg: rgba(
        var(--palette-mainChannel, 234 154 62) / 0.16
    );
    --palette-outlinedActiveBg: rgba(
        var(--palette-mainChannel, 234 154 62) / 0.32
    );
    --palette-outlinedDisabledColor: rgba(
        var(--palette-mainChannel, 234 154 62) / 0.72
    );
    --palette-outlinedDisabledBorder: rgba(
        var(--palette-mainChannel, 234 154 62) / 0.2
    );
    --palette-softColor: var(--palette-200, #fce1c2);
    --palette-softBg: rgba(var(--palette-mainChannel, 234 154 62) / 0.24);
    --palette-softHoverColor: #fff;
    --palette-softHoverBg: rgba(var(--palette-mainChannel, 234 154 62) / 0.32);
    --palette-softActiveBg: rgba(var(--palette-mainChannel, 234 154 62) / 0.48);
    --palette-softDisabledColor: rgba(
        var(--palette-mainChannel, 234 154 62) / 0.72
    );
    --palette-softDisabledBg: rgba(
        var(--palette-mainChannel, 234 154 62) / 0.12
    );
    --palette-solidColor: #fff;
    --palette-solidBg: var(--palette-500, #9a5b13);
    --palette-solidHoverColor: #fff;
    --palette-solidHoverBg: var(--palette-600, #72430d);
    --palette-solidActiveBg: var(--palette-600, #72430d);
    --palette-solidDisabledColor: rgba(
        var(--palette-mainChannel, 234 154 62) / 0.72
    );
    --palette-solidDisabledBg: rgba(
        var(--palette-mainChannel, 234 154 62) / 0.12
    );
}

[psc='Joy/Variant/color-inversion'][psc='Joy/Variant/solid']
    :not(
        [psc='Joy/Variant/skip-inverted-colors'],
        [psc='Joy/Variant/skip-inverted-colors'] *
    ) {
    --palette-focusVisible: var(--palette-200, #dde7ee);
    --palette-background-body: rgba(0 0 0 / 0.1);
    --palette-background-surface: rgba(0 0 0 / 0.06);
    --palette-background-popup: var(--palette-700, #32383e);
    --palette-background-level1: rgba(
        var(--palette-darkChannel, 50 56 62) / 0.2
    );
    --palette-background-level2: rgba(
        var(--palette-darkChannel, 50 56 62) / 0.36
    );
    --palette-background-level3: rgba(
        var(--palette-darkChannel, 50 56 62) / 0.6
    );
    --palette-text-primary: var(--palette-common-white, #fff);
    --palette-text-secondary: var(--palette-200, #dde7ee);
    --palette-text-tertiary: var(--palette-300, #cdd7e1);
    --palette-text-icon: var(--palette-200, #dde7ee);
    --palette-divider: rgba(var(--palette-lightChannel, 221 231 238) / 0.32);
    --palette-plainColor: var(--palette-50, #fbfcfe);
    --palette-plainHoverColor: #fff;
    --palette-plainHoverBg: rgba(
        var(--palette-lightChannel, 221 231 238) / 0.12
    );
    --palette-plainActiveBg: rgba(
        var(--palette-lightChannel, 221 231 238) / 0.32
    );
    --palette-plainDisabledColor: rgba(
        var(--palette-lightChannel, 221 231 238) / 0.72
    );
    --palette-outlinedColor: var(--palette-50, #fbfcfe);
    --palette-outlinedBorder: rgba(
        var(--palette-lightChannel, 221 231 238) / 0.5
    );
    --palette-outlinedHoverColor: #fff;
    --palette-outlinedHoverBorder: var(--palette-300, #cdd7e1);
    --palette-outlinedHoverBg: rgba(
        var(--palette-lightChannel, 221 231 238) / 0.12
    );
    --palette-outlinedActiveBg: rgba(
        var(--palette-lightChannel, 221 231 238) / 0.32
    );
    --palette-outlinedDisabledColor: rgba(
        var(--palette-lightChannel, 221 231 238) / 0.72
    );
    --palette-outlinedDisabledBorder: rgba(255 255 255 / 0.2);
    --palette-softColor: var(--palette-common-white, #fff);
    --palette-softHoverColor: var(--palette-common-white, #fff);
    --palette-softBg: rgba(var(--palette-lightChannel, 221 231 238) / 0.24);
    --palette-softHoverBg: rgba(
        var(--palette-lightChannel, 221 231 238) / 0.36
    );
    --palette-softActiveBg: rgba(
        var(--palette-lightChannel, 221 231 238) / 0.16
    );
    --palette-softActiveColor: #fff;
    --palette-softDisabledColor: rgba(
        var(--palette-lightChannel, 221 231 238) / 0.72
    );
    --palette-softDisabledBg: rgba(
        var(--palette-lightChannel, 221 231 238) / 0.1
    );
    --palette-solidColor: var(--palette-600, #555e68);
    --palette-solidBg: var(--palette-common-white, #fff);
    --palette-solidHoverBg: var(--palette-common-white, #fff);
    --palette-solidActiveBg: var(--palette-100, #f0f4f8);
    --palette-solidDisabledColor: rgba(
        var(--palette-lightChannel, 221 231 238) / 0.72
    );
    --palette-solidDisabledBg: rgba(
        var(--palette-lightChannel, 221 231 238) / 0.1
    );
}
