build/
dist

node_modules/
target/
coverage/
snapshot/
generated/

__generated__/
/cli/dist-cross*


# crates
crates/*/js/src/compiled
crates/turbopack/bench.json
crates/turbopack/tests
crates/turbopack-ecmascript/tests/analyzer/graph
crates/turbopack-ecmascript/tests/tree-shaker
crates/next-transform-strip-page-exports/tests
crates/next-transform-dynamic/tests

# generators
*.hbs

# test samples
**/__tests__/**