$gaps: (5px, 10px);

[psc='Joy/Container/buttongroup-connected'] {
    *:first-child {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    *:last-child {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    *:not(:first-child):not(:last-child) {
        border-radius: 0px;
    }
}
