/* A card is a generic container for grouping related UI elements and content.*/
[psc='Joy/Container/card'] {
    @include variant-support(Card);
    @include variant-default(Card, plain);
    @include palette-default(Card, neutral);

    /* Calculations */
    --Card-childRadius: max(
        (var(--Card-radius) - var(--variant-borderWidth, 0px)) -
            var(--Card-padding),
        min(
            var(--Card-padding) / 2,
            (var(--Card-radius) - var(--variant-borderWidth, 0px)) / 2
        )
    );
    --AspectRatio-radius: var(--Card-childRadius);
    --unstable_actionMargin: calc(-1 * var(--variant-borderWidth, 0px));
    --unstable_actionRadius: var(--Card-radius);
    --CardCover-radius: calc(
        var(--Card-radius) - var(--variant-borderWidth, 0px)
    );
    --CardOverflow-offset: calc(-1 * var(--Card-padding));
    --CardOverflow-radius: calc(
        var(--Card-radius) - var(--variant-borderWidth, 0px)
    );
    --Divider-inset: calc(-1 * var(--Card-padding));

    /* Default to medium size */
    --Card-radius: var(--radius-md);
    --Card-padding: 1rem;

    padding: var(--Card-padding);
    border-radius: var(--Card-radius);
    box-shadow: var(--shadow-sm);
    font-family: var(--fontFamily-body);

    /* Defaults */
    border-style: none;

    /* Variant */
    color: var(--Card-Color);
    background-color: var(--Card-Bg, var(--palette-background-surface));
    border-color: var(--Card-Border);
    border-width: var(--Card-borderWidth);
    border-style: var(--Card-borderStyle);

    &[psc='Joy/Size/sm'] {
        --Card-radius: var(--radius-sm);
        --Card-padding: 0.5rem;
    }

    &[psc='Joy/Size/md'] {
        --Card-radius: var(--radius-md);
        --Card-padding: 1rem;
    }

    &[psc='Joy/Size/lg'] {
        --Card-radius: var(--radius-lg);
        --Card-padding: 1.5rem;
        font-size: var(--fontSize-md);
    }

    &[psc='Joy/Variant/plain'],
    &[psc='Joy/Variant/outlined'] {
        --Card-Bg: var(--palette-background-surface);
    }

    [psc='Joy/Container/card-overflow'] {
        margin-inline: var(--CardOverflow-offset);
        padding: 0px var(--Card-padding);
    }

    *:first-child[psc='Joy/Container/card-overflow'] {
        margin-block: var(--CardOverflow-offset) 0px;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
    }

    *:last-child[psc='Joy/Container/card-overflow'] {
        margin-inline: 0px var(--CardOverflow-offset);
        border-bottom: 0px;
        border-left: 0px;
        border-right: 0px;
    }
}
