/* Sheets */
[psc='Joy/Container/sheet'] {
    @include variant-support(Sheet);
    @include variant-default(Sheet, plain);
    @include palette-default(Sheet, neutral);

    /* Variant */
    color: var(--joy-Sheet-Color);
    background-color: var(
        --joy-Sheet-Bg,
        var(--joy-joy-palette-background-surface)
    );
    border-color: var(--joy-Sheet-Border);
    border-width: var(--joy-Sheet-borderWidth);
    border-style: var(--joy-Sheet-borderStyle);
}
