:root {
    --symbolStroke: var(--symbolStroke--default);
    --symbolFill: var(--symbolFill--default);
}

[data-icon^='symbol\/'] {
    stroke-width: 5px;
    overflow: visible;
    color: var(--symbolFill);
    fill: var(--symbolFill);
    stroke: var(--symbolStroke);
    vector-effect: non-scaling-stroke;
}

[data-icon^='symbol\/'] * {
    vector-effect: non-scaling-stroke;
}

