$states: (default, active, inactive, faulted);

@each $state in $states {
    [psc='Symbol/State/$(state)'] {
        --symbolFill: var(--symbolFill--$(state));
        --symbolStroke: var(--symbolStroke--$(state), #23383e);

        /* color: var(--symbolFill);
        fill: var(--symbolFill);
        stroke: var(--symbolStroke); */
    }
}
