:root {

	/* Light Theme */
    --background-color: rgb(255, 255, 255);
    --palette-primary-50: #F4FAFF;
    --palette-primary-100: #DDF1FF;
    --palette-primary-200: #ADDBFF;
    --palette-primary-300: #6FB6FF;
    --palette-primary-400: #3990FF;
    --palette-primary-500: #096BDE;
    --palette-primary-600: #054DA7;
    --palette-primary-700: #02367D;
    --palette-primary-800: #072859;
    --palette-primary-900: #00153C;
    --palette-primary-plainColor: var(--palette-primary-600, #054DA7);
    --palette-primary-plainHoverBg: var(--palette-primary-100, #DDF1FF);
    --palette-primary-plainActiveBg: var(--palette-primary-200, #ADDBFF);
    --palette-primary-plainDisabledColor: var(--palette-primary-200, #ADDBFF);
    --palette-primary-outlinedColor: var(--palette-primary-500, #096BDE);
    --palette-primary-outlinedBorder: var(--palette-primary-200, #ADDBFF);
    --palette-primary-outlinedHoverBg: var(--palette-primary-100, #DDF1FF);
    --palette-primary-outlinedHoverBorder: var(--palette-primary-300, #6FB6FF);
    --palette-primary-outlinedActiveBg: var(--palette-primary-200, #ADDBFF);
    --palette-primary-outlinedDisabledColor: var(--palette-primary-100, #DDF1FF);
    --palette-primary-outlinedDisabledBorder: var(--palette-primary-100, #DDF1FF);
    --palette-primary-softColor: var(--palette-primary-600, #054DA7);
    --palette-primary-softBg: var(--palette-primary-100, #DDF1FF);
    --palette-primary-softHoverBg: var(--palette-primary-200, #ADDBFF);
    --palette-primary-softActiveBg: var(--palette-primary-300, #6FB6FF);
    --palette-primary-softDisabledColor: var(--palette-primary-300, #6FB6FF);
    --palette-primary-softDisabledBg: var(--palette-primary-50, #F4FAFF);
    --palette-primary-solidColor: #fff;
    --palette-primary-solidBg: var(--palette-primary-500, #096BDE);
    --palette-primary-solidHoverBg: var(--palette-primary-600, #054DA7);
    --palette-primary-solidActiveBg: var(--palette-primary-700, #02367D);
    --palette-primary-solidDisabledColor: #fff;
    --palette-primary-solidDisabledBg: var(--palette-primary-200, #ADDBFF);
    --palette-primary-mainChannel: 9 107 222;
    --palette-primary-lightChannel: 173 219 255;
    --palette-primary-darkChannel: 7 40 89;
    --palette-neutral-50: #F7F7F8;
    --palette-neutral-100: #EBEBEF;
    --palette-neutral-200: #D8D8DF;
    --palette-neutral-300: #B9B9C6;
    --palette-neutral-400: #8F8FA3;
    --palette-neutral-500: #73738C;
    --palette-neutral-600: #5A5A72;
    --palette-neutral-700: #434356;
    --palette-neutral-800: #25252D;
    --palette-neutral-900: #131318;
    --palette-neutral-plainColor: var(--palette-neutral-800, #25252D);
    --palette-neutral-plainHoverColor: var(--palette-neutral-900, #131318);
    --palette-neutral-plainHoverBg: var(--palette-neutral-100, #EBEBEF);
    --palette-neutral-plainActiveBg: var(--palette-neutral-200, #D8D8DF);
    --palette-neutral-plainDisabledColor: var(--palette-neutral-300, #B9B9C6);
    --palette-neutral-outlinedColor: var(--palette-neutral-800, #25252D);
    --palette-neutral-outlinedBorder: var(--palette-neutral-200, #D8D8DF);
    --palette-neutral-outlinedHoverColor: var(--palette-neutral-900, #131318);
    --palette-neutral-outlinedHoverBg: var(--palette-neutral-100, #EBEBEF);
    --palette-neutral-outlinedHoverBorder: var(--palette-neutral-300, #B9B9C6);
    --palette-neutral-outlinedActiveBg: var(--palette-neutral-200, #D8D8DF);
    --palette-neutral-outlinedDisabledColor: var(--palette-neutral-300, #B9B9C6);
    --palette-neutral-outlinedDisabledBorder: var(--palette-neutral-100, #EBEBEF);
    --palette-neutral-softColor: var(--palette-neutral-800, #25252D);
    --palette-neutral-softBg: var(--palette-neutral-100, #EBEBEF);
    --palette-neutral-softHoverColor: var(--palette-neutral-900, #131318);
    --palette-neutral-softHoverBg: var(--palette-neutral-200, #D8D8DF);
    --palette-neutral-softActiveBg: var(--palette-neutral-300, #B9B9C6);
    --palette-neutral-softDisabledColor: var(--palette-neutral-300, #B9B9C6);
    --palette-neutral-softDisabledBg: var(--palette-neutral-50, #F7F7F8);
    --palette-neutral-solidColor: var(--palette-common-white, #FFF);
    --palette-neutral-solidBg: var(--palette-neutral-600, #5A5A72);
    --palette-neutral-solidHoverBg: var(--palette-neutral-700, #434356);
    --palette-neutral-solidActiveBg: var(--palette-neutral-800, #25252D);
    --palette-neutral-solidDisabledColor: var(--palette-neutral-300, #B9B9C6);
    --palette-neutral-solidDisabledBg: var(--palette-neutral-50, #F7F7F8);
    --palette-neutral-mainChannel: 115 115 140;
    --palette-neutral-lightChannel: 216 216 223;
    --palette-neutral-darkChannel: 37 37 45;
    --palette-danger-50: #FFF8F6;
    --palette-danger-100: #FFE9E8;
    --palette-danger-200: #FFC7C5;
    --palette-danger-300: #FF9192;
    --palette-danger-400: #FA5255;
    --palette-danger-500: #D3232F;
    --palette-danger-600: #A10E25;
    --palette-danger-700: #77061B;
    --palette-danger-800: #580013;
    --palette-danger-900: #39000D;
    --palette-danger-plainColor: var(--palette-danger-600, #A10E25);
    --palette-danger-plainHoverBg: var(--palette-danger-100, #FFE9E8);
    --palette-danger-plainActiveBg: var(--palette-danger-200, #FFC7C5);
    --palette-danger-plainDisabledColor: var(--palette-danger-200, #FFC7C5);
    --palette-danger-outlinedColor: var(--palette-danger-500, #D3232F);
    --palette-danger-outlinedBorder: var(--palette-danger-200, #FFC7C5);
    --palette-danger-outlinedHoverBg: var(--palette-danger-100, #FFE9E8);
    --palette-danger-outlinedHoverBorder: var(--palette-danger-300, #FF9192);
    --palette-danger-outlinedActiveBg: var(--palette-danger-200, #FFC7C5);
    --palette-danger-outlinedDisabledColor: var(--palette-danger-100, #FFE9E8);
    --palette-danger-outlinedDisabledBorder: var(--palette-danger-100, #FFE9E8);
    --palette-danger-softColor: var(--palette-danger-600, #A10E25);
    --palette-danger-softBg: var(--palette-danger-100, #FFE9E8);
    --palette-danger-softHoverBg: var(--palette-danger-200, #FFC7C5);
    --palette-danger-softActiveBg: var(--palette-danger-300, #FF9192);
    --palette-danger-softDisabledColor: var(--palette-danger-300, #FF9192);
    --palette-danger-softDisabledBg: var(--palette-danger-50, #FFF8F6);
    --palette-danger-solidColor: #fff;
    --palette-danger-solidBg: var(--palette-danger-500, #D3232F);
    --palette-danger-solidHoverBg: var(--palette-danger-600, #A10E25);
    --palette-danger-solidActiveBg: var(--palette-danger-700, #77061B);
    --palette-danger-solidDisabledColor: #fff;
    --palette-danger-solidDisabledBg: var(--palette-danger-200, #FFC7C5);
    --palette-danger-mainChannel: 211 35 47;
    --palette-danger-lightChannel: 255 199 197;
    --palette-danger-darkChannel: 88 0 19;
    --palette-info-50: #FDF7FF;
    --palette-info-100: #F4EAFF;
    --palette-info-200: #E1CBFF;
    --palette-info-300: #C69EFF;
    --palette-info-400: #A374F9;
    --palette-info-500: #814DDE;
    --palette-info-600: #5F35AE;
    --palette-info-700: #452382;
    --palette-info-800: #301761;
    --palette-info-900: #1D0A42;
    --palette-info-plainColor: var(--palette-info-600, #5F35AE);
    --palette-info-plainHoverBg: var(--palette-info-100, #F4EAFF);
    --palette-info-plainActiveBg: var(--palette-info-200, #E1CBFF);
    --palette-info-plainDisabledColor: var(--palette-info-200, #E1CBFF);
    --palette-info-outlinedColor: var(--palette-info-500, #814DDE);
    --palette-info-outlinedBorder: var(--palette-info-200, #E1CBFF);
    --palette-info-outlinedHoverBg: var(--palette-info-100, #F4EAFF);
    --palette-info-outlinedHoverBorder: var(--palette-info-300, #C69EFF);
    --palette-info-outlinedActiveBg: var(--palette-info-200, #E1CBFF);
    --palette-info-outlinedDisabledColor: var(--palette-info-100, #F4EAFF);
    --palette-info-outlinedDisabledBorder: var(--palette-info-100, #F4EAFF);
    --palette-info-softColor: var(--palette-info-600, #5F35AE);
    --palette-info-softBg: var(--palette-info-100, #F4EAFF);
    --palette-info-softHoverBg: var(--palette-info-200, #E1CBFF);
    --palette-info-softActiveBg: var(--palette-info-300, #C69EFF);
    --palette-info-softDisabledColor: var(--palette-info-300, #C69EFF);
    --palette-info-softDisabledBg: var(--palette-info-50, #FDF7FF);
    --palette-info-solidColor: #fff;
    --palette-info-solidBg: var(--palette-info-500, #814DDE);
    --palette-info-solidHoverBg: var(--palette-info-600, #5F35AE);
    --palette-info-solidActiveBg: var(--palette-info-700, #452382);
    --palette-info-solidDisabledColor: #fff;
    --palette-info-solidDisabledBg: var(--palette-info-200, #E1CBFF);
    --palette-info-mainChannel: 129 77 222;
    --palette-info-lightChannel: 225 203 255;
    --palette-info-darkChannel: 48 23 97;
    --palette-success-50: #F3FEF5;
    --palette-success-100: #D7F5DD;
    --palette-success-200: #77EC95;
    --palette-success-300: #4CC76E;
    --palette-success-400: #2CA24D;
    --palette-success-500: #1A7D36;
    --palette-success-600: #0F5D26;
    --palette-success-700: #034318;
    --palette-success-800: #002F0F;
    --palette-success-900: #001D09;
    --palette-success-plainColor: var(--palette-success-600, #0F5D26);
    --palette-success-plainHoverBg: var(--palette-success-100, #D7F5DD);
    --palette-success-plainActiveBg: var(--palette-success-200, #77EC95);
    --palette-success-plainDisabledColor: var(--palette-success-200, #77EC95);
    --palette-success-outlinedColor: var(--palette-success-500, #1A7D36);
    --palette-success-outlinedBorder: var(--palette-success-200, #77EC95);
    --palette-success-outlinedHoverBg: var(--palette-success-100, #D7F5DD);
    --palette-success-outlinedHoverBorder: var(--palette-success-300, #4CC76E);
    --palette-success-outlinedActiveBg: var(--palette-success-200, #77EC95);
    --palette-success-outlinedDisabledColor: var(--palette-success-100, #D7F5DD);
    --palette-success-outlinedDisabledBorder: var(--palette-success-100, #D7F5DD);
    --palette-success-softColor: var(--palette-success-600, #0F5D26);
    --palette-success-softBg: var(--palette-success-100, #D7F5DD);
    --palette-success-softHoverBg: var(--palette-success-200, #77EC95);
    --palette-success-softActiveBg: var(--palette-success-300, #4CC76E);
    --palette-success-softDisabledColor: var(--palette-success-300, #4CC76E);
    --palette-success-softDisabledBg: var(--palette-success-50, #F3FEF5);
    --palette-success-solidColor: #fff;
    --palette-success-solidBg: var(--palette-success-500, #1A7D36);
    --palette-success-solidHoverBg: var(--palette-success-600, #0F5D26);
    --palette-success-solidActiveBg: var(--palette-success-700, #034318);
    --palette-success-solidDisabledColor: #fff;
    --palette-success-solidDisabledBg: var(--palette-success-200, #77EC95);
    --palette-success-mainChannel: 26 125 54;
    --palette-success-lightChannel: 119 236 149;
    --palette-success-darkChannel: 0 47 15;
    --palette-warning-50: #FFF8C5;
    --palette-warning-100: #FAE17D;
    --palette-warning-200: #EAC54F;
    --palette-warning-300: #D4A72C;
    --palette-warning-400: #BF8700;
    --palette-warning-500: #9A6700;
    --palette-warning-600: #7D4E00;
    --palette-warning-700: #633C01;
    --palette-warning-800: #4D2D00;
    --palette-warning-900: #3B2300;
    --palette-warning-plainColor: var(--palette-warning-800, #4D2D00);
    --palette-warning-plainHoverBg: var(--palette-warning-50, #FFF8C5);
    --palette-warning-plainActiveBg: var(--palette-warning-200, #EAC54F);
    --palette-warning-plainDisabledColor: var(--palette-warning-200, #EAC54F);
    --palette-warning-outlinedColor: var(--palette-warning-800, #4D2D00);
    --palette-warning-outlinedBorder: var(--palette-warning-200, #EAC54F);
    --palette-warning-outlinedHoverBg: var(--palette-warning-50, #FFF8C5);
    --palette-warning-outlinedHoverBorder: var(--palette-warning-300, #D4A72C);
    --palette-warning-outlinedActiveBg: var(--palette-warning-200, #EAC54F);
    --palette-warning-outlinedDisabledColor: var(--palette-warning-100, #FAE17D);
    --palette-warning-outlinedDisabledBorder: var(--palette-warning-100, #FAE17D);
    --palette-warning-softColor: var(--palette-warning-800, #4D2D00);
    --palette-warning-softBg: var(--palette-warning-50, #FFF8C5);
    --palette-warning-softHoverBg: var(--palette-warning-100, #FAE17D);
    --palette-warning-softActiveBg: var(--palette-warning-200, #EAC54F);
    --palette-warning-softDisabledColor: var(--palette-warning-200, #EAC54F);
    --palette-warning-softDisabledBg: var(--palette-warning-50, #FFF8C5);
    --palette-warning-solidColor: var(--palette-warning-800, #4D2D00);
    --palette-warning-solidBg: var(--palette-warning-200, #EAC54F);
    --palette-warning-solidHoverBg: var(--palette-warning-300, #D4A72C);
    --palette-warning-solidActiveBg: var(--palette-warning-400, #BF8700);
    --palette-warning-solidDisabledColor: var(--palette-warning-200, #EAC54F);
    --palette-warning-solidDisabledBg: var(--palette-warning-50, #FFF8C5);
    --palette-warning-mainChannel: 154 103 0;
    --palette-warning-lightChannel: 234 197 79;
    --palette-warning-darkChannel: 77 45 0;
    --palette-common-white: #FFF;
    --palette-common-black: #09090D;
    --palette-text-primary: var(--palette-neutral-800, #25252D);
    --palette-text-secondary: var(--palette-neutral-600, #5A5A72);
    --palette-text-tertiary: var(--palette-neutral-500, #73738C);
    --palette-background-body: var(--palette-common-white, #FFF);
    --palette-background-surface: var(--palette-common-white, #FFF);
    --palette-background-popup: var(--palette-common-white, #FFF);
    --palette-background-level1: var(--palette-neutral-50, #F7F7F8);
    --palette-background-level2: var(--palette-neutral-100, #EBEBEF);
    --palette-background-level3: var(--palette-neutral-200, #D8D8DF);
    --palette-background-tooltip: var(--palette-neutral-800, #25252D);
    --palette-background-backdrop: rgba(255 255 255 / 0.5);
    --palette-divider: rgba(var(--palette-neutral-mainChannel, 115 115 140) / 0.28);
    --palette-focusVisible: var(--palette-primary-500, #096BDE);
    --shadowRing: 0 0 #000;
    --shadowChannel: 187 187 187;
}
