:root {
    --joy-radius-xs: 4px;
    --joy-radius-sm: 8px;
    --joy-radius-md: 12px;
    --joy-radius-lg: 16px;
    --joy-radius-xl: 20px;
}

@each $size in (xs, sm, md, lg, xl) {
    [psc='Joy/Radius/$size'] {
        border-radius: var(--joy-radius-$(size));
    }
}
