/** Scroll Bar **/
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;

    &:hover {
        cursor: pointer;
    }
}

::-webkit-scrollbar-thumb {
    background-color: var(--joy-palette-neutral-200);
    border-radius: var(--joy-radius-md);
    border: 6px solid transparent;
    background-clip: content-box;

    &:hover {
        background-color: var(--joy-palette-neutral-400);
    }
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}
