/*Typography*/
[psc='Typography/root'] {
    /* Variant */
    --variant-borderWidth: unset;
    --variant-borderStyle: unset;
    --variant-Color: unset;
    --variant-DisabledColor: unset;
    --variant-Bg: unset;
    --variant-HoverBg: unset;
    --variant-ActiveBg: unset;
    --variant-DisabledBg: unset;
}

[psc='Typography/inherit'] {
    /* Variant */
    color: inherit;
    background-color: inherit;
    border-color: inherit;
    border-width: inherit;
    border-style: inherit;
    border-radius: inherit;

    /* Variant */
    color: var(--variant-Color);
    background-color: var(--variant-Bg);
    border-color: var(--variant-Border);
    border-width: var(--variant-borderWidth);
    border-style: var(--variant-borderStyle);
    border-radius: var(--radius-xs);
}

[psc='Typography/display1'] {
    color: var(--palette-text-primary, var(--palette-neutral-800, #25252d));
    font-size: var(--Typography-fontSize, var(--fontSize-xl7, 4.5rem));
    font-weight: var(--fontWeight-xl, 700);
    line-height: var(--lineHeight-sm, 1.25);
    letter-spacing: var(--letterSpacing-sm, -0.01em);
    margin: var(--Typography-margin, 0px);
}

[psc='Typography/display2'] {
    color: var(--palette-text-primary, var(--palette-neutral-800, #25252d));
    font-size: var(--Typography-fontSize, var(--fontSize-xl6, 3.75rem));
    font-weight: var(--fontWeight-xl, 700);
    line-height: var(--lineHeight-sm, 1.25);
    letter-spacing: var(--letterSpacing-sm, -0.01em);
    margin: var(--Typography-margin, 0px);
}

[psc='Typography/h1'] {
    color: var(--palette-text-primary, var(--palette-neutral-800, #25252d));
    font-size: var(--Typography-fontSize, var(--fontSize-xl5, 3rem));
    font-weight: var(--fontWeight-lg, 600);
    line-height: var(--lineHeight-sm, 1.25);
    letter-spacing: var(--letterSpacing-sm, -0.01em);
    margin: var(--Typography-margin, 0px);
}

[psc='Typography/h2'] {
    color: var(--palette-text-primary, var(--palette-neutral-800, #25252d));
    font-size: var(--Typography-fontSize, var(--fontSize-xl4, 2.25rem));
    font-weight: var(--fontWeight-lg, 600);
    line-height: var(--lineHeight-sm, 1.25);
    letter-spacing: var(--letterSpacing-sm, -0.01em);
    margin: var(--Typography-margin, 0px);
}

[psc='Typography/h3'] {
    color: var(--palette-text-primary, var(--palette-neutral-800, #25252d));
    font-size: var(--Typography-fontSize, var(--fontSize-xl3, 1.875rem));
    font-weight: var(--fontWeight-md, 500);
    line-height: var(--lineHeight-sm, 1.25);
    margin: var(--Typography-margin, 0px);
}

[psc='Typography/h4'] {
    color: var(--palette-text-primary, var(--palette-neutral-800, #25252d));
    font-size: var(--Typography-fontSize, var(--fontSize-xl2, 1.5rem));
    font-weight: var(--fontWeight-md, 500);
    line-height: var(--lineHeight-md, 1.5);
    margin: var(--Typography-margin, 0px);
}

[psc='Typography/h5'] {
    color: var(--palette-text-primary, var(--palette-neutral-800, #25252d));
    font-size: var(--Typography-fontSize, var(--fontSize-xl, 1.25rem));
    font-weight: var(--fontWeight-md, 500);
    line-height: var(--lineHeight-md, 1.5);
    margin: var(--Typography-margin, 0px);
}

[psc='Typography/h6'] {
    color: var(--palette-text-primary, var(--palette-neutral-800, #25252d));
    font-size: var(--Typography-fontSize, var(--fontSize-lg, 1.125rem));
    font-weight: var(--fontWeight-md, 500);
    line-height: var(--lineHeight-md, 1.5);
    margin: var(--Typography-margin, 0px);
}

[psc='Typography/body1'] {
    color: var(--palette-text-primary, var(--palette-neutral-800, #25252d));
    font-size: var(--Typography-fontSize, var(--fontSize-md, 1rem));
    line-height: var(--lineHeight-md, 1.5);
    margin: var(--Typography-margin, 0px);
}

[psc='Typography/body2'] {
    color: var(--palette-text-primary, var(--palette-neutral-600, #5a5a72));
    font-size: var(--Typography-fontSize, var(--fontSize-sm, 0.875rem));
    line-height: var(--lineHeight-md, 1.5);
    margin: var(--Typography-margin, 0px);
}

[psc='Typography/body3'] {
    color: var(--palette-text-primary, var(--palette-neutral-500, #73738c));
    font-size: var(--Typography-fontSize, var(--fontSize-xs, 0.75rem));
    line-height: var(--lineHeight-md, 1.5);
    margin: var(--Typography-margin, 0px);
}

[psc='Typography/body4'] {
    color: var(--palette-text-primary, var(--palette-neutral-500, #73738c));
    font-size: var(--Typography-fontSize, var(--fontSize-xs2, 0.625rem));
    line-height: var(--lineHeight-md, 1.5);
    margin: var(--Typography-margin, 0px);
}

[psc='Typography/body5'] {
    color: var(--palette-text-primary, var(--palette-neutral-500, #73738c));
    font-size: var(--Typography-fontSize, var(--fontSize-xs3, 0.5rem));
    line-height: var(--lineHeight-md, 1.5);
    margin: var(--Typography-margin, 0px);
}
