.canvas {
    @include variant-support(Canvas);
    /* Define component properties */
    --Canvas-radius: var(--radius-sm);
    --Canvas-focusedThickness: var(--focus-thickness);
    --Canvas-focusedHighlight: var(--palette-primary-solidBg);

    /* Apply component properties */
    color: var(--Canvas-Color);
    background-color: var(--Canvas-Bg, var(--palette-background-surface));
    border-color: var(--Canvas-Border);
    border-width: var(--Canvas-borderWidth);
    border-style: var(--Canvas-borderStyle);
    border-radius: var(--Canvas-radius);

    &:hover {
        --Canvas-Border: var(
            --variant-HoverBorder,
            var(--Canvas-default-HoverBorder)
        );
    }

    &:disabled {
        @include component-state(Canvas, Disabled);

        pointer-events: none;
        cursor: default;
    }

    &[psc='Joy/Variant/plain'],
    &[psc='Joy/Variant/outlined'] {
        --Canvas-Bg: var(--palette-background-surface);
    }

    &:focus-within,
    &:active {
        outline-width: var(--Canvas-focusedThickness);
        outline-style: solid;
        outline-color: var(--Canvas-focusedHighlight);
        outline-offset: min(calc(var(--Canvas-borderWidth, 0px) * -1), -1px);
    }
}

.ia-signature-pad-canvas-wrapper {
    overflow: visible !important;
}
