.ia_pager {
    @include variant-support(Pager);

    /* Apply component properties */
    color: var(--joy-Pager-Color);
    background-color: var(--joy-Pager-Bg, var(--joy-palette-background-level1));
    border-color: var(--joy-Pager-Border);
    border-width: var(--joy-Pager-borderWidth);
    border-style: var(--joy-Pager-borderStyle);
    border-radius: var(--joy-Pager-radius);
    min-height: var(--joy-Pager-minHeight);
    padding-block: var(--joy-Pager-paddingBlock);
    padding-inline: var(--joy-Pager-paddingInline);

    .pager {
        height: auto !important;
    }
    .pager .ia_select {
        @include variant-forced(Page, outlined);
    }
    .pager .center {
        gap: 0.5rem;
    }

    &__page {
        @include variant-support(Page);
        @include variant-forced(Page, outlined);

        filter: none !important;
        min-width: var(--joy-IconButton-size, 2rem);
        min-height: var(--joy-IconButton-size, 2rem);
        margin-left: 0px !important;

        /* Apply component properties */
        color: var(--joy-Page-Color);
        background-color: var(
            --joy-Page-Bg,
            var(--joy-palette-background-surface)
        );
        border-color: var(--joy-Page-Border);
        border-width: var(--joy-Page-borderWidth);
        border-style: var(--joy-Page-borderStyle);
        border-radius: var(--joy-Page-radius, var(--joy-radius-sm));

        &:hover {
            @include component-state(Page, Hover);
        }

        &--joy-active {
            @include variant-forced(Page, solid);
        }
    }
}

/* .ia_pager {
    background-color: var(--joy-neutral-30);
    color: var(--joy-neutral-90);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    line-height: 0.875rem;
    font-size: 0.75rem;
}

.ia_pager__jumpFirstLast {
    line-height: 0.875rem;
    font-size: 1rem;
    color: var(--joy-neutral-90);
}

.ia_pager__jumpFirstLast--joy-disabled {
    color: var(--joy-label--joy-disabled);
}

.ia_pager__prevNext {
    color: var(--joy-neutral-90);
}

.ia_pager__prevNext--joy-disabled {
    color: var(--joy-neutral-70);
}

.ia_pager__page {
    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;
    color: var(--joy-neutral-90);
}

.ia_pager__page--joy-active {
    background: var(--joy-callToAction);
    color: var(--joy-neutral-10);
}

.ia_pager__jump {
    width: 3.125rem;
    text-align: center;
    border-radius: var(--joy-borderRadius);
}

.ia_pager__jump:focus {
    outline: none;
} */
