$variants: (plain, outlined, soft, solid);

@each $variant in $variants {
    [psc="Variant/$(variant)"] {
        --variant-Color: var(--variant-$(variant)Color);
        --variant-HoverColor: var(--variant-$(variant)HoverColor);
        --variant-ActiveColor: var(--variant-$(variant)ActiveColor);
        --variant-DisabledColor: -var(-variant-$(variant)DisabledColor);
        --variant-Bg: var(--variant-$(variant)Bg);
        --variant-HoverBg: var(--variant-$(variant)HoverBg);
        --variant-ActiveBg: var(--variant-$(variant)ActiveBg);
        --variant-DisabledBg: var(--variant-$(variant)DisabledBg);
        --variant-Border: var(--variant-$(variant)Border);
        --variant-HoverBorder: var(--variant-$(variant)HoverBorder);
        --variant-ActiveBorder: var(--variant-$(variant)ActiveBorder);
        --variant-DisabledBorder: var(--variant-$(variant)DisabledBorder);

        &:disabled {
            pointer-events: none;
            cursor: default;
        }
    }
}

[psc="Variant/plain"] {
    --variant-borderWidth: 0px;
}

[psc="Variant/outlined"] {
    --variant-borderWidth: 1px;
    --variant-borderStyle: solid;
}

[psc="Variant/soft"] {
    --variant-borderWidth: 0px;
}

[psc="Variant/solid"] {
    --variant-borderWidth: 0px;
}

@mixin variant-default($variant: solid) {
    &:not([psc="Variant/plain"]):not([psc="Variant/solid"]):not([psc="Variant/outlined"]):not([psc="Variant/soft"]) {
        --variant-Color: var(--variant-$(variant)Color);
        --variant-HoverColor: var(--variant-$(variant)HoverColor);
        --variant-ActiveColor: var(--variant-$(variant)ActiveColor);
        --variant-DisabledColor: -var(-variant-$(variant)DisabledColor);
        --variant-Bg: var(--variant-$(variant)Bg);
        --variant-HoverBg: var(--variant-$(variant)HoverBg);
        --variant-ActiveBg: var(--variant-$(variant)ActiveBg);
        --variant-DisabledBg: var(--variant-$(variant)DisabledBg);
        --variant-Border: var(--variant-$(variant)Border);
        --variant-HoverBorder: var(--variant-$(variant)HoverBorder);
        --variant-ActiveBorder: var(--variant-$(variant)ActiveBorder);
        --variant-DisabledBorder: var(--variant-$(variant)DisabledBorder);
    }
}